@charset "UTF-8";

/* FORMATAÇÃO GERAL */
* {
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh;
    background-color: #aaaaaa;
}

/* FORMATAÇÃO DO CABEÇALHO */
#cabecalho {
    background-color: #000;
    color: #ddd;
    padding: 50px 0;
    text-align: center;
}
#cabecalho > h1 {
    font-variant: small-caps;
}
#cabecalho > p {
    font-size: 0.7em;
}
#cabecalho p > a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
#cabecalho p > a:hover, #rodape a:hover {
    text-decoration: underline;
}

/* FORMATAÇÃO DO CONTEÚDO */
section {
    padding: 10vh 30px;
    line-height: 1.5em;
    font-size: 1.75em;
}

.normal {
    background-color: #fff;
    color: #000;
}

.imagem {
    background-color: #0e0e0e;
    color: #fff;
}
.imagem > p {
    width: 350px;
    background-color: #00000050;
    padding: 10px;
}

/* FORMATAÇÃO DO RODAPÉ */
#rodape {
    background-color: #000;
    color: #ddd;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
}

#rodape a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}